.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: #aeb8be;
}

.grid-form-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
}

#gridContainer {
  flex: 1;
  max-width: none;
  width: auto;
  padding: 0;
  margin: 0;
}

#editTripForm {
  width: 40%;
}

.date-row {
  height: fit-content !important;
}

.resized-grid {
  width: 40% !important;
  margin-left: 0 !important;
  margin-right: auto !important;
  justify-content: start !important;
}
