.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  color: #aeb8be;
}

.grid-form-container {
  display: flex;
  gap: 20px;
  align-items: stretch;
  width: 100%;
}

.trip-incorrect {
  background-color: #ffebee !important;
  border: 1px solid #ffcdd2 !important;
}

.trip-checked {
  background-color: #e8f5e9 !important;
  opacity: 0.9;
}

.trip-incorrect.trip-checked {
  background-color: #e8f5e9 !important;
  border: 1px solid #c8e6c9 !important;
  opacity: 0.9;
}

.selected-row {
  outline: 2px solid blue !important;
}

#gridContainer {
  flex: 1;
  max-width: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#formContainer {
  width: 49%;
  display: none;
  flex-direction: column;
  gap: 20px;
}

#editTripForm {
  width: 100%;
}

/* Icons Standardaussehen */

#routeMap {
  height: 500px;
  min-height: 400px;
  margin-top: 20px;
  display: none;
  width: 100%;
}

.date-row {
  height: fit-content !important;
}

.resized-grid {
  width: 40% !important;
  margin-left: 0 !important;
  margin-right: auto !important;
  justify-content: start !important;
}

.bi-trash,
.bi-union {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
  visibility: hidden;
}

.bi-trash:hover,
.bi-union:hover {
  opacity: 1;
}

.bi-trash.visible,
.bi-union.visible {
  visibility: visible;
}
