<nav class="sidebar open">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active">
        <i class="bi bi-person" id="person-icon"></i>
        <div class="name-wrapper">
          <span id="userFirstName"></span>
          <span id="userLastName"></span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">
        <i class="bi bi-house"></i> Startseite
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/vehicles">
        <i class="bi bi-car-front"></i> Fahrzeuge
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        <i class="bi bi-journal"></i> Bericht
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="bi bi-gear"></i> Einstellungen
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="logoutButton">
        <i class="bi bi-power"></i> Abmelden
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    Sitzung läuft ab in: <span id="session-timer">--:--</span>
  </div>
</nav>
